
    #content {
        max-width: 900px;
        margin: 2rem auto;
        padding: 2rem;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    h1 {
        color: #4A90E2;
    }

    h2 {
        color: #333;
    }

    #about-us {
        max-width: 1100px;
        margin: 3rem auto;
        padding: 2rem;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    #about-us h2 {
        color: #4A90E2;
        margin-bottom: 1rem;
    }

    #about-us h1 {
        color: #4A90E2;
        margin: 1em auto;
        text-align: center;
        font-style: italic;
    }

    .about-section {
        margin-bottom: 2rem;
    }

    .about-section p {
        line-height: 1.8;
    }

    .read-more {
        display: inline-block;
        margin-top: 1rem;
        text-decoration: none;
        background: #4A90E2;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: 0.3s;
    }

    .read-more:hover {
        background: #357ABD;
    }

    #about-us h1,
    h2 {
        text-transform: uppercase;
        letter-spacing: 1m;
    }