    
    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0.5em 0;
        background-color: #333;
    }

    nav ul li {
        margin: 0 1em;
    }

    nav ul li a {
        text-decoration: none;
        color: white;
        padding: 0.5em 1em;
        transition: color 0.3s, background-color 0.3s;
    }

    nav ul li a.active {
        color: #ffffff;
        background-color: #007bff;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px 10px;
    }

    nav ul li a:hover {
        color: white;
        background-color: #007bff;
        border-radius: 5px;
    }


    .sec-nav {
        background-color: #333;
    }

