    
    #content {
        padding: 20px;
        margin-top: 20px;
        background: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    #content h2 {
        margin-bottom: 20px;
        color: #444;
        font-size: 24px;
        font-weight: bold;
    }

    #content p {
        margin-bottom: 15px;
        color: #555;
    }

    #content p a {
        color: #0078D7;
        text-decoration: none;
        font-weight: bold;
    }

    #content p a:hover {
        text-decoration: underline;
    }

    .opening-times {
        max-width: 800px;
        margin: 20px auto;
        text-align: center;
        font-family: Arial, sans-serif;
    }

    .opening-times table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .opening-times th,
    .opening-times td {
        border: 1px solid #ddd;
        padding: 10px;
    }

    .opening-times th {
        background-color: #0078D7;
        color: white;
        font-weight: bold;
    }

    .opening-times td {
        text-align: center;
    }

    .highlight {
        color: #0078D7;
        font-weight: bold;

    }

    .map-container {
        margin: 20px auto;
        max-width: 800px;
        text-align: center;
    }

    iframe {
        width: 100%;
        height: 450px;
        border: 0;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .map-info {
        margin: 10px 0;
        font-size: 1.2em;
    }
